params {
  project_folder     = "$PWD"                     
  cutadapt_raw_data  = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/data/"
  fastqc_raw_data    = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/data/"   // backward compatibility
  cutadapt_pattern   = "*_R{1,2}_001.fastq.gz"
  cutadapt_output    = "cutadapt_output"          

  // Optional cutadapt arguments
  adapter_5p         = null
  adapter_3p         = null
  adapter_5p_r2      = null
  adapter_3p_r2      = null
  quality_cutoff     = null
  minimum_length     = null
  maximum_length     = null
  cutadapt_extra_args = null

  cpus   = 4
  memory = '8GB'
  time   = '2h'
  run_type    = null
  containers  = null

}

profiles {

  local {
    process {
      maxForks = 1
    }
    params.run_type   = 'local'
    params.containers = 'docker'
    includeConfig 'configs/local.config'
  }

  hpc {
    params.run_type   = 'hpc'
    params.containers = 'singularity'
    includeConfig 'configs/slurm.config'
  }
}
